<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCxwlMnpkL08JAcpK-5eJsShzac9upQHDQ</string>
	<key>GCM_SENDER_ID</key>
	<string>582083576570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fskeleton</string>
	<key>PROJECT_ID</key>
	<string>shopper-78af0</string>
	<key>STORAGE_BUCKET</key>
	<string>shopper-78af0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:582083576570:ios:5a95e5a45d1ae69c503f43</string>
</dict>
</plist>